<div class="jumbotron text-center">
  <h1>Create teams</h1>
  <p class="lead">Welcome to the online version of the matrix, everyone can partipate now!</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-secondary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Based on David's Matrix</h3>
    <p>Html version of the xsl program designed by David to configurate teams</p>
  </div>
  <div class="col-md-4">
    <h3>Register and participate</h3>
    <p>With a few simple operations you can configurate the teams to play with your friends</p>
  </div>
  <div class="col-md-4">
    <h3>Created by Felipe</h3>
    <p>Challenge to learn how a Mean stack works</p>
  </div>
</div>
